.screen-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.screen {
    aspect-ratio: 16/15;
    background-color: black;
    width: min(80vw, 80vh * (16 / 15));
    height: min(80vw * (15 / 16), 80vh);
    max-width: 1200px;
    max-height: 1125px;
}

#nes-canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;            /* modern browsers */
    image-rendering: crisp-edges;          /* fallback */
    image-rendering: -moz-crisp-edges;     /* Firefox legacy */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.control-settings {
    display: flex;
    gap: 5px;
    flex-direction: column;

    > .control-setting {
        border-radius: 5px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 10em;
        
        

        > * {
            width: 100%;
            display: flex;
            justify-content: center;
            border: 1px solid lightgray;
            padding: 4px;
        }

        > label {
            border-right: none;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        > input[type="button"] {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #ccc;

            &:hover {
                background-color: lightgray;
            }

            &.active {
                background-color: cornflowerblue;
            }
        }
    }
}
