.screen-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.screen {
    aspect-ratio: 16/15;
    background-color: black;
    width: min(80vw, 80vh * (16 / 15));
    height: min(80vw * (15 / 16), 80vh);
    max-width: 1200px;
    max-height: 1125px;
}

#nes-canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;            /* modern browsers */
    image-rendering: crisp-edges;          /* fallback */
    image-rendering: -moz-crisp-edges;     /* Firefox legacy */
}
